{
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "dynamic-import-node",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ]
}
