{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["airbnb-base", "plugin:import/errors", "plugin:import/warnings", "prettier"],
  "env": {
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "max-len": 0,
    "react/display-name": 0,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "eol-last": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/no-dynamic-require": 0,
    "prefer-arrow-callback": 0,
    "object-shorthand": 0,
    "prefer-template": 0,
    "func-names": 0,
    "new-cap": 0,
    "no-await-in-loop": 0,
    "no-param-reassign": 0,
    "no-multiple-empty-lines": 2,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-unused-vars": 2,
    "no-var": 0,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "strict": 0,
    "space-before-blocks": [2, "always"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  }
}
