version: 2.1

orbs:
  codecov: codecov/codecov@3

jobs:
  e2e_test_as_node_module:
    docker:
      - image: cimg/node:current
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm ci
      - run: AUTH0_HTTP_RECORDINGS="lockdown" npm run test:e2e:node-module

  e2e_test_as_cli:
    docker:
      - image: cimg/node:current
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm ci
      - run: npm run test:e2e:cli

  unit_test:
    parameters:
      v:
        type: string
        default: "lts"
    docker:
      - image: cimg/node:<< parameters.v >>
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v<< parameters.v >>-npm-deps-{{ checksum "package-lock.json" }}
            - v<< parameters.v >>-npm-deps-
      - run: npm ci
      - save_cache:
          key: v<< parameters.v >>-npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run lint
      - run: npm run test:coverage
      - persist_to_workspace:
          root: ~/repo
          paths: .
      - codecov/upload

  deploy:
    parameters:
      v:
        type: string
        default: "lts"
    docker:
      - image: cimg/node:<< parameters.v >>
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish

  does_typescript_compile: 
    docker:
      - image: cimg/node:current
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm ci
      - run: npx tsc --noEmit

workflows:
  version: 2

  e2e_test:
    jobs:
      - e2e_test_as_node_module:
          name: E2E tests as Node module
      - e2e_test_as_cli:
          name: E2E tests as CLI
          filters:
            branches:
              only: master

  unit_test:
    jobs:
      - does_typescript_compile:
          name: Does Typescript compile?
      - unit_test:
          name: Unit tests with Node LTS
          v: "lts"
      - unit_test:
          name: Unit tests with Node current
          v: "current"

  test_and_deploy:
    jobs:
      - unit_test:
          name: Unit tests with Node LTS
          v: "lts"
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      - deploy:
          name: Publish to NPM
          v: "lts"
          requires:
            - Unit tests with Node LTS
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          context:
            - publish-npm
