[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?page=0&per_page=100&include_totals=true&is_global=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "kushal-dev",
                    "global": true,
                    "callbacks": [],
                    "is_first_party": true,
                    "name": "All Applications",
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 2592000,
                        "idle_token_lifetime": 1296000,
                        "rotation_type": "non-rotating"
                    },
                    "owners": [
                        "mr|google-oauth2|109614534713742077035"
                    ],
                    "custom_login_page": "<html>TEST123</html>\n",
                    "cross_origin_authentication": true,
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "2Mlaa9rTwG8PJkTuRLXoeNOy8MibpSPn",
                    "client_secret": "[REDACTED]",
                    "custom_login_page_on": true
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/tenants/settings",
        "body": "",
        "status": 200,
        "response": {
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "disable_impersonation": true,
                "enable_dynamic_client_registration": true,
                "enable_sso": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "revoke_refresh_token_grant": false,
                "dashboard_new_onboarding": false,
                "mfa_show_factor_list_on_enrollment": false,
                "disable_clickjack_protection_headers": false
            },
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "picture_url": "https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png",
            "sandbox_version": "18",
            "oidc_logout": {
                "rp_logout_end_session_endpoint_discovery": true
            },
            "universal_login": {
                "colors": {
                    "page_background": "#000000",
                    "primary": "#5ce4ff"
                }
            },
            "sandbox_versions_available": [
                "18",
                "16"
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/resource-servers?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 2,
            "start": 0,
            "limit": 100,
            "resource_servers": [
                {
                    "id": "6698c226535e13b0f1b2a3c1",
                    "name": "Auth0 Management API",
                    "identifier": "https://kushal-dev.eu.auth0.com/api/v2/",
                    "allow_offline_access": false,
                    "skip_consent_for_verifiable_first_party_clients": false,
                    "token_lifetime": 86400,
                    "token_lifetime_for_web": 7200,
                    "signing_alg": "RS256",
                    "scopes": [
                        {
                            "description": "Read Client Grants",
                            "value": "read:client_grants"
                        },
                        {
                            "description": "Create Client Grants",
                            "value": "create:client_grants"
                        },
                        {
                            "description": "Delete Client Grants",
                            "value": "delete:client_grants"
                        },
                        {
                            "description": "Update Client Grants"[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?page=0&per_page=100&include_totals=true&is_global=false",
        "body": "",
        "status": 200,
        "response": {
            "total": 16,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "kushal-dev",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "DeployCLI-Dev",
                    "is_first_party": true,
                    "oidc_conformant": true,
                    "sso_disabled": false,
                    "cross_origin_auth": false,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 31557600,
                        "idle_token_lifetime": 2592000,
                        "rotation_type": "non-rotating"
                    },
                    "custom_login_page_preview": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Sign In with Auth0</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0\" />\n</head>\n<body>\n\n  <!--[if IE 8]>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/ie8/0.2.5/ie8.js\"></script>\n  <![endif]-->\n\n  <!--[if lte IE 9]>\n  <script src=\"https://cdn.auth0.com/js/base64.js\"></script>\n  <script src=\"https://cdn.auth0.com/js/es5-shim.min.js\"></script>\n  <![endif]-->\n\n  <script src=\"https://cdn.auth0.com/js/lock/12.5/lock.min.js\"></script>\n  <script>\n    // Decode utf8 characters properly\n    var config = JSON.parse(decodeURIComponent(escape(window.atob('@@config@@'))));\n    config.extraParams = c[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections?per_page=100&page=0&include_totals=true&strategy=auth0",
        "body": "",
        "status": 200,
        "response": {
            "total": 3,
            "start": 0,
            "limit": 100,
            "connections": [
                {
                    "id": "con_1phMfGakxwdqWmih",
                    "options": {
                        "mfa": {
                            "active": true,
                            "return_enroll_settings": true
                        },
                        "import_mode": false,
                        "customScripts": {
                            "login": "function login(email, password, callback) {\n  // This script should authenticate a user against the credentials stored in\n  // your database.\n  // It is executed when a user attempts to log in or immediately after signing\n  // up (as a verification that the user was successfully signed up).\n  //\n  // Everything returned by this script will be set as part of the user profile\n  // and will be visible by any of the tenant admins. Avoid adding attributes\n  // with values such as passwords,[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections?per_page=100&page=0&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 5,
            "start": 0,
            "limit": 100,
            "connections": [
                {
                    "id": "con_1phMfGakxwdqWmih",
                    "options": {
                        "mfa": {
                            [...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections/con_iYlZ1DESGzYFLzgc/scim-configuration",
        "body": "",
        "status": 200,
        "response": {
            "tenant_name": "kushal-dev",
            "connection_id": "con_iYlZ1DESGzYFLzgc",
            "connection_name": "test-scim-con",
            "strategy": "okta",
            "mapping": [
                {
                    "scim": "user_Name",
                    "auth0": "preferred_username"
                },
                {
                    "scim": "emails[primary eq true].value",
                    "auth0": "email"
                },
                {
                    "scim": "externalId",
                    "auth0": "app_metadata.external_id"
                },
                {
                    "scim": "active",
                    "auth0": "blocked"
                },
                {
                    "scim": "displayName",
              [...]
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/emails/provider?fields=name%2Cenabled%2Ccredentials%2Csettings%2Cdefault_from_address&include_fields=true",
        "body": "",
        "status": 200,
        "response": {
            "enabled": false,
            "credentials": {},
            "name": "mandrill",
            "default_from_address": "auth0-user@auth0.com"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "verify_email",
            "syntax": "liquid",
            "body": "<html>\n  <head>\n    <style type=\"text/css\">\n      .ExternalClass,\n      .ExternalClass div,\n      .ExternalClass font,\n      .ExternalClass p,\n      .ExternalClass span,\n      .ExternalClass td,\n      img {\n        line-height: 100%;\n      }\n      #outlook a {\n        padding: 0;\n      }\n      .ExternalClass,\n      .ReadMsgBody {\n        width: 100%;\n      }\n      a,\n      blockquote,\n      body,\n      li,\n      p,\n      table,\n      td {\n        -webkit-text-size-adjust: 100%;\n        -ms-text-[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/welcome_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "welcome_email",
            "body": "<html>\n  <body>\n    <h1>Welcome!</h1>\n  </body>\n</html>\n",
            "from": "",
            "resultUrl": "https://example.com/welcome",
            "subject": "Welcome",
            "syntax": "liquid",
            "urlLifetimeInSeconds": 3600,
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/blocked_account",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/mfa_oob_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email_by_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/reset_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/change_password",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/password_reset",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/user_invitation",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/enrollment_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/stolen_credentials",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/client-grants?per_page=100&page=0&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 5,
            "start": 0,
            "limit": 100,
            "client_grants": [
                {
                    "id": "cgr_PBDulb2RDmVsaV8K",
                    "client_id": "gdpNdEa0sdFOX1VZJ4xtycnNR1G5TlRg",
                    "audience": "https://kushal-dev.eu.auth0.com/api/v2/",
                    "scope": [
                        "read:client_grants",
                        "create:client_grants",
                        "delete:client_grants",
                        "update:client_grants",
                        "read:users",
                        "update:users",
                        "delete:users",
                        "create:users",
                        "read:users_app_metadata",
                        "u[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "sms",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "push-notification",
                "enabled": true,
                "trial_expired": false
            },
            {
                "name": "otp",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "email",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "duo",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "webauthn-roaming",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "webauthn-platform",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "recovery-code",
                "enabled": false,
                "trial_expired": false
            }
        ],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/push-notification/providers/sns",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/sms/providers/twilio",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/sms/templates",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/policies",
        "body": "",
        "status": 200,
        "response": [
            "all-applications"
        ],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/phone/selected-provider",
        "body": "",
        "status": 200,
        "response": {
            "provider": "auth0"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/phone/message-types",
        "body": "",
        "status": 200,
        "response": {
            "message_types": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/roles?per_page=100&page=0&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "roles": [
                {
                    "id": "rol_gq08I4FPXNktjm65",
                    "name": "dev-int",
                    "description": "internal developer "
                }
            ],
            "start": 0,
            "limit": 100,
            "total": 1
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/roles/rol_gq08I4FPXNktjm65/permissions?per_page=100&page=0&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "permissions": [
                {
                    "permission_name": "read:api",
                    "description": "api read permission",
                    "resource_server_name": "Role test API",
                    "resource_server_identifier": "role-test"
                },
                {
                    "permission_name": "read:comment ",
                    "description": "comment read permission",
                    "resource_server_name": "Role test API",
                    "resource_server_identifier": "role-test"
                },
                {
                    "permission_name": "read:doc",
                    "description": "doc read permission",
                    "resource_server_name": "Role test API",
  [...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/branding",
        "body": "",
        "status": 200,
        "response": {
            "colors": {
                "page_background": "#000000",
                "primary": "#5ce4ff"
            },
            "logo_url": "https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/custom-domains",
        "body": "",
        "status": 200,
        "response": [
            {
                "custom_domain_id": "cd_eD0HsFcthsQON2V3",
                "domain": "kushal-cli-test.acmetest.org",
                "primary": true,
                "status": "ready",
                "type": "auth0_managed_certs",
                "verification": {
                    "methods": [
                        {
                            "name": "CNAME",
                            "record": "kushal-dev-cd-ed0hsfcthsqon2v3.edge.tenants.eu.auth0.com",
                            "domain": "kushal-cli-test.acmetest.org"
                        }
                    ]
                },
                "tls_policy": "recommended"
            }
        ],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/branding/templates/universal-login",
        "body": "",
        "status": 429,
        "response": {
            "statusCode": 429,
            "error": "Too Many Requests",
            "message": "Global limit has been reached",
            "errorCode": "too_many_requests"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts",
        "body": "",
        "status": 200,
        "response": {
            "universal_login_experience": "new",
            "identifier_first": true,
            "enable_ulp_wcag_compliance": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login/custom-text/en",
        "body": "",
        "status": 200,
        "response": {
            "login": {
                "alertListTitle": "Alerts",
                "auth0-users-validation": "Something went wrong, please try again later",
                "authentication-failure": "We are sorry, something went wrong when attempting to login",
                "buttonText": "Continue",
                "custom-script-error-code": "Something went wrong, please try again later.",
                "description": "Log in to ${companyName} to continue to ${clientName}.",
                "editEmailText": "Edit",
                "emailPlaceholder": "Email address",
                "federatedConnectionButtonText": "Continue with ${connectionName}",
                "footerLinkText": "Sign up",
                "footerText": "Don't have an account?",
                "forgotPasswordText": "Forgot password?",
                "hidePasswordText": "Hide password",
                "invalid-connection": "Invalid connection",
                "invalid-email-format": "Email is not valid.",
                "invitationDescription": "Log in to accept ${inviterName}'s invitation to join ${companyName} on ${clientName}.",
                "invitationTitle": "You've Been Invited!",
                "ip-blocked": "We have detected suspicious login behavior and further attempts will be blocked. Please contact the administrator.",
                "logoAltText": "${companyName}",
                "no-db-connection": "Invalid connection",
                "no-email": "Please enter an email address",
                "no-password": "Password is required",
                "no-username": "Username is required",
                "pageTitle": "Log in | ${clientName}",
                "password-breached": "We have detected a potential security issue with this account. To protect your account, we have prevented this login. Please reset your password to proceed.",
                "passwordPlaceholder": "Password",
                "same-user-login": "Too many login attempts for this user. Please wait, and try again later.",
                "separatorText": "Or",
                "showPasswordText": "Show password",
                "signupActionLinkText": "${footerLinkText}",
                "signupActionText": "${footerText}",
                "title": "Welcome",
                "user-blocked": "Your account has been blocked after multiple consecutive login attempts.",
                "usernamePlaceholder": "Username or email address",
                "wrong-credentials": "Wrong username or password",
                "wrong-email-credentials": "Wrong email or password"
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login-password/custom-text/en",
        "body": "",
        "status": 200,
        "response": {
            "login-password": {
                "alertListTitle": "Alerts",
                "auth0-users-validation": "Something went wrong, please try again later",
                "authentication-failure": "We are sorry, something went wrong when attempting to login",
                "buttonText": "Continue",
                "custom-script-error-code": "Something went wrong, please try again later.",
                "description": "Enter your password for ${companyName} to continue to ${clientName}",
                "editEmailText": "Edit",
                "editLinkScreenReadableText": "Edit email address",
                "federatedConnectionButtonText": "Continue with ${connectionName}",
                "footerLinkText": "Sign up",
                "footerText": "Don't have an account?",
                "forgotPasswordText": "Forgot password?",
                "hidePasswordText": "Hide password",
                "invalid-connection": "Invalid connection",
                "invalid-email-format": "Email is not valid.",
                "invitationDescription": "Log in to accept[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login-id/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login-email-verification/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/signup/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/signup-id/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
[...]
