[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?include_totals=true&is_global=false",
        "body": "",
        "status": 200,
        "response": {
            "total": 3,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Deploy CLI",
                    "is_first_party": true,
                    "oidc_conformant": true,
                    "sso_disabled": false,
                    "cross_origin_auth": false,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 31557600,
                        "idle_token_lifetime": 2592000,
                        "rotation_type": "non-rotating"
                    },
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "Vp0gMRF8PtMzekil38qWoj4Fjw2VjRZE",
                    "callback_url_template": false,
                    "client_secret": "[REDACTED]",
                    "jwt_configuration": {
                        "alg": "RS256",
                        "lifetime_in_seconds": 36000,
                        "secret_encoded": false
                    },
                    "token_endpoint_auth_method": "client_secret_post",
                    "app_type": "non_interactive",
                    "grant_types": [
                        "client_credentials"
                    ],
                    "custom_login_page_on": true
                },
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Default App",
                    "callbacks": [],
                    "cross_origin_auth": false,
                    "is_first_party": true,
                    "oidc_conformant": true,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 2592000,
                        "idle_token_lifetime": 129600[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/dskjRi0px0aMvCKMueSqsYQlKSxxZsX7",
        "body": {
            "name": "Auth0 CLI - dev",
            "allowed_clients": [],
            "app_type": "non_interactive",
            "callbacks": [],
            "client_aliases": [],
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "grant_types": [
                "client_credentials"
            ],
            "is_first_party": true,
            "is_token_endpoint_ip_header_trusted": false,
            "jwt_configuration": {
                "alg": "RS256",
                "lifetime_in_seconds": 36000
            },
            "logo_uri": "https://dev.assets.com/photos/foo",
            "native_social_login": {
                "apple": {
                    "enabled": false
                },
                "facebook": {
                    "enabled": false
                }
            },
            "refresh_token": {
                "expiration_type": "non-expiring",
                "leeway": 0,
                "infinite_token_lifetime": true,
                "infinite_idle_token_lifetime": true,
                "token_lifetime": 31557600,
                "idle_token_lifetime": 2592000,
                "rotation_type": "non-rotating"
            },
            "sso_disabled": false,
            "token_endp[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/tenants/settings",
        "body": {
            "allowed_logout_urls": [
                "https://travel0.com/logoutCallback"
            ],
            "enabled_locales": [
                "en",
                "es"
            ],
            "flags": {
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "change_pwd_flow_v1": false,
                "enable_apis_section": false,
                "enable_client_connections": false,
                "enable_custom_domain_in_emails": false,
                "enable_dynamic_client_registration": false,
                "enable_public_signup_user_exists_error": true,
                "revoke_refresh_token_grant": false,
                "disable_clickjack_protection_headers": false,
                "enable_pipeline2": false
            },
            "friendly_name": "This tenant name should be preserved",
            "picture_url": "https://upload.wikimedia.org/wikipedia/commons/0/0d/Grandmas_marathon_finishers.png",
            "sandbox_version": "12",
            "support_email": "support@travel0.com",
            "support_url": "https://travel0.com/support",
            "universal_login": {
                "colors": {
                    "primary": "#F8F8F2",
                    "page_background": "#222221"
                }
            },
            "session_cookie": {
                "mode": "non-persistent"
            },
            "session_lifetime_in_minutes": 181,
            "idle_session_lifetime_in_minutes": 60
        },
        "status": 200,
        "response": {
            "allowed_logout_urls": [
                "https://travel0.com/logoutCallback"
            ],
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en",
                "es"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "cannot_change_enforce_client_authentication_on_passwordless_start": true,
                "change_pwd_flow_v1": false,
                "disable_impersonation": true,
                "enable_apis_section": false,
                "enable_client_connections": false,
                "enable_custom_domain_in_emails": false,
                "enable_dynamic_client_registration": false,
                "enable_legacy_logs_search_v2": false,
                "enable_public_signup_user_exists_error": true,
                "enable_sso": true,
                "enforce_client_authentication_on_passwordless_start": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "use_scope_descriptions_for_consent": false,
                "revoke_refresh_token_grant": false,
                "disable_clickjack_protection_headers": false,
                "enable_pipeline2": false
            },
            "friendly_name": "This tenant name should be preserved",
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "idle_session_lifetime": 1,
            "picture_url": "https://upload.wikimedia.org/wikipedia/commons/0/0d/Grandmas_marathon_finishers.png",
            "sandbox_version": "12",
            "session_lifetime": 3.0166666666666666,
            "support_email": "support@travel0.com",
            "support_url": "https://travel0.com/support",
            "universal_login": {
                "colors": {
                    "primary": "#F8F8F2",
                    "page_background": "#222221"
                }
            },
            "session_cookie": {
                "mode": "non-persistent"
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/blocked_account",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "verify_email",
            "body": "<html>\n  <head>\n    <style type=\"text/css\">\n      .ExternalClass,\n      .ExternalClass div,\n      .ExternalClass font,\n      .ExternalClass p,\n      .ExternalClass span,\n      .ExternalClass td,\n      img {\n        line-height: 100%;\n      }\n      #outlook a {\n        padding: 0;\n      }\n      .ExternalClass,\n      .ReadMsgBody {\n        width: 100%;\n      }\n      a,\n      blockquote,\n      body,\n      li,\n      p,\n      table,\n      td {\n        -webkit-text-size-adjust: 100%;\n        -ms-text-[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/reset_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/change_password",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/stolen_credentials",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email_by_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/mfa_oob_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/password_reset",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/enrollment_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/welcome_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "welcome_email",
            "body": "<html>\n  <body>\n    <h1>Welcome to This tenant name should be preserved!</h1>\n  </body>\n</html>\n",
            "from": "",
            "resultUrl": "https://travel0.com/welcome",
            "subject": "Welcome",
            "syntax": "liquid",
            "urlLifetimeInSeconds": 3600,
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/user_invitation",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?include_totals=true&is_global=false&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 3,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_hea[...]
[...]
