[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/rules?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 0,
            "start": 0,
            "limit": 100,
            "rules": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/attack-protection/breached-password-detection",
        "body": "",
        "status": 200,
        "response": {
            "enabled": false,
            "shields": [],
            "admin_notification_frequency": [],
            "method": "standard",
            "stage": {
                "pre-user-registration": {
                    "shields": []
                },
                "pre-change-password": {
                    "shields": []
                }
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/attack-protection/brute-force-protection",
        "body": "",
        "status": 200,
        "response": {
            "enabled": true,
            "shields": [
                "block",
                "user_notification"
            ],
            "mode": "count_per_identifier_and_ip",
            "allowlist": [],
            "max_attempts": 10
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/rules-configs",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/attack-protection/suspicious-ip-throttling",
        "body": "",
        "status": 200,
        "response": {
            "enabled": true,
            "shields": [
                "admin_notification",
                "block"
            ],
            "allowlist": [],
            "stage": {
                "pre-login": {
                    "max_attempts": 100,
                    "rate": 864000
                },
                "pre-user-registration": {
                    "max_attempts": 50,
                    "rate": 1200
                },
                "pre-custom-token-exchange": {
                    "max_attempts": 10,
                    "rate": 600000
                }
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/hooks?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 0,
            "start": 0,
            "limit": 100,
            "hooks": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/attack-protection/captcha",
        "body": "",
        "status": 200,
        "response": {
            "active_provider_id": "auth_challenge",
            "simple_captcha": {},
            "auth_challenge": {
                "fail_open": false
            },
            "recaptcha_v2": {
                "site_key": ""
            },
            "recaptcha_enterprise": {
                "site_key": "",
                "project_id": ""
            },
            "hcaptcha": {
                "site_key": ""
            },
            "friendly_captcha": {
                "site_key": ""
            },
            "arkose": {
                "site_key": "",
                "client_subdomain": "client-api",
                "verify_subdomain": "verify-api",
                "fail_open": false
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?page=0&per_page=100&include_totals=true&is_global=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": true,
                    "callbacks": [],
                    "is_first_party": true,
                    "name": "All Applications",
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 2592000,
                        "idle_token_lifetime": 1296000,
                        "rotation_type": "non-rotating"
                    },
                    "owners": [
                        "mr|samlp|okta|will.vedder@auth0.com",
                        "mr|google-oauth2|102002633619863830825",
                        "mr|samlp|okta|frederik.prijck@auth0.com",
                        "mr|google-oauth2|109614534713742077035",
                        "mr|google-oauth2|116771660953104383819",
                        "mr|google-oauth2|112839029247827700155",
                        "mr|samlp|okta|ewan.harris@auth0.com"
                    ],
                    "custom_login_page": "<html>TEST123</html>\n",
                    "cross_origin_authentication": true,
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "Isi93ibGHIGwmdYjsLwTOn7Gu7nwxU3V",
                    "client_secret": "[REDACTED]",
                    "custom_login_page_on": true
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/attack-protection/bot-detection",
        "body": "",
        "status": 200,
        "response": {
            "challenge_password_policy": "never",
            "challenge_passwordless_policy": "never",
            "challenge_password_reset_policy": "never",
            "allowlist": [],
            "bot_detection_level": "medium",
            "monitoring_mode_enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/risk-assessments/settings",
        "body": "",
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/tenants/settings",
        "body": "",
        "status": 200,
        "response": {
            "allowed_logout_urls": [
                "https://mycompany.org/logoutCallback"
            ],
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "change_pwd_flow_v1": false,
                "disable_impersonation": true,
                "enable_apis_section": false,
                "enable_client_connections": false,
                "enable_custom_domain_in_emails": false,
                "enable_dynamic_client_registration": false,
                "enable_legacy_logs_search_v2": false,
                "enable_public_signup_user_exists_error": true,
                "enable_sso": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "use_scope_descriptions_for_consent": false,
                "revoke_refresh_token_grant": false,
                "disable_clickjack_protection_headers": false,
                "enable_pipeline2": false
            },
            "friendly_name": "My Test Tenant",
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "idle_session_lifetime": 1,
            "picture_url": "https://upload.wikimedia.org/wikipedia/commons/0/0d/Grandmas_marathon_finishers.png",
            "sandbox_version": "12",
            "session_lifetime": 3.0166666666666666,
            "support_email": "support@mycompany.org",
            "support_url": "https://mycompany.org/support",
            "universal_login": {
                "colors": {
                    "primary": "#F8F8F2",
                    "page_background": "#222221"
                }
            },
            "resource_parameter_profile": "audience",
            "session_cookie": {
                "mode": "non-persistent"
            },
            "sandbox_versions_available": [
                "22",
                "18",
                "12"
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/resource-servers?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "resource_servers": [
                {
                    "id": "62debacc54b4171c0378ea1f",
                    "name": "Auth0 Management API",
                    "identifier": "https://auth0-deploy-cli-e2e.us.auth0.com/api/v2/",
                    "allow_offline_access": false,
                    "skip_consent_for_verifiable_first_party_clients": false,
                    "subject_type_authorization": {
                        "client": {
                            "policy": "require_client_grant"
                        },
                        "user": {
                            "policy": "allow_all"
                        }
                    },
                    "token_lifetime": 86400,
                    "token_lifetime_for_web": 7200,
                    "signing_alg": "RS256",
                    "scopes": [
                        {
                            "description": "Read Client Grants",
                            "value": "read:client_grants"
                        },
                        {
                            "description": "Create Client Grants",
                            "value": "create:client_grants"
                        },
                        {
                            "description": "Delete Client Grants",
                            "value": "delete:client_grants"
                        },
                        {
                            "description": "Update Client Grants"[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/risk-assessments/settings/new-device",
        "body": "",
        "status": 200,
        "response": {
            "remember_for": 30
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?page=0&per_page=100&include_totals=true&is_global=false",
        "body": "",
        "status": 200,
        "response": {
            "total": 2,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Deploy CLI",
                    "is_first_party": true,
                    "oidc_conformant": true,
                    "sso_disabled": false,
                    "cross_origin_auth": false,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 31557600,
                        "idle_token_lifetime": 2592000,
                        "rotation_type": "non-rotating"
                    },
                    "cross_origin_authentication": false,
                    "allowed_clients": [],
                    "callbacks": [],
                    "native_social_login": {
                        "apple": {
                            "enabled": false
                        },
                        "facebook": {
                            "enabled": false
                        }
                    },
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "Vp0gMRF8PtMzekil38qWoj4Fjw2VjRZE",
                    "callback_url_template": false,
                    "client_secret": "[REDACTED]",
                    "jwt_configuration": {
                        "alg": "RS256",
                        "lifetime_in_seconds": 36000,
                        "secret_encoded": false
                    },
                    "client_aliases": [],
                    "token_endpoint_auth_method": "client_secret_post",
                    "app_type": "non_interactive",
                    "grant_types": [
                        "client_credentials",
                        "implicit",
                        "authorization_code",
                        "refresh_token"
                    ],
                    "custom_login_page_on": true
                },
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Default App",
                    [...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/actions/actions?page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "actions": [],
            "per_page": 100
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/log-streams",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections?take=50&strategy=auth0",
        "body": "",
        "status": 200,
        "response": {
            "connections": [
                {
                    "id": "con_ozHRIelzeo37v3zC",
                    "options": {
                        "mfa": {
                            "active": true,
                            "return_enroll_settings": true
                        },
                        "passwordPolicy": "good",
                        "passkey_options": {
                            "challenge_ui": "both",
                            "local_enrollment_enabled": true,
                            "progressive_enrollment_enabled": true
                        },
                        "strategy_version": 2,
                        "authentication_methods": {
                            "passkey": {
                                "enabled": false
                            },
                            "password": {
                                "enabled": true,
                                "api_behavior": "required",
                                "signup_behavior": "allow"
                            }
                        },
                        "brute_force_protection": true,
                        "disable_self_service_change_password": false
                    },
                    "strategy": "auth0",
                    "name": "Username-Password-Authentication",
                    "is_domain_connection": false,
                    "authentication": {
                        "active": true
                    },
                    "connected_accounts": {
                        "active": false
                    },
                    "realms": [
                        "Username-Password-Authentication"
                    ],
                    "enabled_clients": [
                        "Vp0gMRF8PtMzekil38qWoj4Fjw2VjRZE",
                        "ZPoEONFqifAZeRenBU8W08ux4JemRZDp"
                    ]
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/custom-domains",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/branding/themes/default",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "There was an error retrieving branding settings: invalid theme ID",
            "errorCode": "theme_not_found"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections/con_ozHRIelzeo37v3zC/clients?take=100",
        "body": "",
        "status": 200,
        "response": {
            "clients": [
                {
                    "client_id": "Vp0gMRF8PtMzekil38qWoj4Fjw2VjRZE"
                },
                {
                    "client_id": "ZPoEONFqifAZeRenBU8W08ux4JemRZDp"
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/flows?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "limit": 100,
            "start": 0,
            "total": 0,
            "flows": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/forms?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "limit": 100,
            "start": 0,
            "total": 1,
            "forms": [
                {
                    "id": "ap_6JUSCU7qq1CravnoU6d6jr",
                    "name": "Blank-form",
                    "flow_count": 0,
                    "created_at": "2024-11-26T11:58:18.187Z",
                    "updated_at": "2026-03-23T17:49:00.022Z"
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections?take=50",
        "body": "",
        "status": 200,
        "response": {
            "connections": [
                {
                    "id": "con_ozHRIelzeo37v3zC",
                    "options": {
                        "mfa": {
                            "active": true,
                            "return_enroll_settings": true
                        },
    [...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections-directory-provisionings?take=50",
        "body": "",
        "status": 403,
        "response": {
            "statusCode": 403,
            "error": "Forbidden",
            "message": "Insufficient scope, expected any of: read:directory_provisionings",
            "errorCode": "insufficient_scope"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/forms/ap_6JUSCU7qq1CravnoU6d6jr",
        "body": "",
        "status": 200,
        "response": {
            "id": "ap_6JUSCU7qq1CravnoU6d6jr",
            "name": "Blank-form",
            "languages": {
                "primary": "en"
            },
            "nodes": [
                {
                    "id": "step_ggeX",
                    "type": "STEP",
                    "coordinates": {
                        "x": 500,
                        "y": 0
                    },
                    "alias": "New step",
                    "config": {
                        "components": [
                            {
                                "id": "full_name",
                                "category": "FIELD",
                                "type": "TEXT",
                                "label": "Your Name",
                                "required": true,
                                "sensitive": false,
                                "config": {
                                    "multiline": false,
                                    "min_length": 1,
                                    "max_length": 50
                                }
                            },
                            {
                                "id": "next_button_3FbA",
                                "category": "BLOCK",
                                "type": "NEXT_BUTTON",
                                "config": {
                                    "text": "Continue"
                                }
                            }
                        ],
                        "next_node": "$ending"
                    }
                }
            ],
            "start": {
                "next_node": "step_ggeX",
                "coordinates": {
                    "x": 0,
                    "y": 0
                }
            },
            "ending": {
                "resume_flow": true,
                "coordinates": {
                    "x": 1250,
                    "y": 0
                }
            },
            "created_at": "2024-11-26T11:58:18.187Z",
            "updated_at": "2026-03-23T17:49:00.022Z"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/flows/vault/connections?page=0&per_page=50&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "limit": 50,
            "start": 0,
            "total": 0,
            "connections": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/emails/provider?fields=name%2Cenabled%2Ccredentials%2Csettings%2Cdefault_from_address&include_fields=true",
        "body": "",
        "status": 200,
        "response": {
            "name": "mandrill",
            "credentials": {},
            "default_from_address": "auth0-user@auth0.com",
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/user_invitation",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email_by_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "verify_email",
            "body": "<html>\n  <head>\n    <style type=\"text/css\">\n      .ExternalClass,\n      .ExternalClass div,\n      .ExternalClass font,\n      .ExternalClass p,\n      .ExternalClass span,\n      .ExternalClass td,\n      img {\n        line-height: 100%;\n      }\n      #outlook a {\n        padding: 0;\n      }\n      .ExternalClass,\n      .ReadMsgBody {\n        width: 100%;\n      }\n      a,\n      blockquote,\n      body,\n      li,\n      p,\n      table,\n      td {\n        -webkit-text-size-adjust: 100%;\n        -ms-text-[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/self-service-profiles?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "self_service_profiles": [
                {
                    "id": "ssp_f6qt3syGauLKbSgt6GRLim",
                    "name": "self-service-profile-1",
                    "description": "test description self-service-profile-1",
                    "user_attributes": [
                        {
                            "name": "email",
                            "description": "Email of the User",
                            "is_optional": false
                        },
                        {
                            "name": "name",
                            "description": "Name of the User",
                            "is_optional": true
                        }
                    ],
                    "allowed_strategies": [
                        "google-apps",
                        "okta"
                    ],
                    "created_at": "2024-11-26T11:58:18.962Z",
                    "updated_at": "2026-03-23T17:48:50.234Z",
                    "branding": {
                        "colors": {
                            "primary": "#19aecc"
                        }
                    }
                }
            ],
            "start": 0,
            "limit": 100,
            "total": 1
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/reset_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/blocked_account",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/password_reset",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/reset_email_by_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
[...]
