[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/tenants/settings",
        "body": {
            "friendly_name": "Tenant friendly name",
            "enabled_locales": [
                "en"
            ]
        },
        "status": 200,
        "response": {
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "cannot_change_enforce_client_authentication_on_passwordless_start": true,
                "disable_impersonation": true,
                "enable_dynamic_client_registration": true,
                "enable_sso": true,
                "enforce_client_authentication_on_passwordless_start": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "revoke_refresh_token_grant": false,
                "dashboard_new_onboarding": false,
                "mfa_show_factor_list_on_enrollment": false,
                "disable_clickjack_protection_headers": false
            },
            "friendly_name": "Tenant friendly name",
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "picture_url": "https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png",
            "sandbox_version": "18",
            "oidc_logout": {
                "rp_logout_end_session_endpoint_discovery": true
            },
            "universal_login": {
                "colors": {
                    "page_background": "#000000",
                    "primary": "#5ce4ff"
                },
                "is_custom_theme_set": true,
                "is_custom_template_set": true,
                "identifier_first": true
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
