[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/rules?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "rules": [
                {
                    "id": "rul_Ie0qudoY43FBGApI",
                    "enabled": true,
                    "script": "function (user, context, callback) {\n  callback(null, user, context);\n}\n",
                    "name": "my-rule",
                    "order": 2,
                    "stage": "login_success"
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/rules/rul_Ie0qudoY43FBGApI",
        "body": {
            "name": "my-rule",
            "script": "function (user, context, callback) {\n  callback(null, user, context);\n}\n",
            "enabled": true,
            "order": 2
        },
        "status": 200,
        "response": {
            "id": "rul_Ie0qudoY43FBGApI",
            "enabled": true,
            "script": "function (user, context, callback) {\n  callback(null, user, context);\n}\n",
            "name": "my-rule",
            "order": 2,
            "stage": "login_success"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/hooks?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 0,
            "start": 0,
            "limit": 100,
            "hooks": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?page=0&per_page=100&include_totals=true&is_global=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": true,
                    "callbacks": [],
                    "is_first_party": true,
                    "name": "All Applications",
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 2592000,
                        "idle_token_lifetime": 1296000,
                        "rotation_type": "non-rotating"
                    },
                    "owners": [
                        "mr|samlp|okta|will.vedder@auth0.com",
                        "mr|google-oauth2|102002633619863830825",
                        "mr|samlp|okta|frederik.prijck@auth0.com",
                        "mr|google-oauth2|109614534713742077035",
                        "mr|google-oauth2|116771660953104383819"
                    ],
                    "custom_login_page": "<html>TEST123</html>\n",
                    "cross_origin_authentication": true,
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "Isi93ibGHIGwmdYjsLwTOn7Gu7nwxU3V",
                    "client_secret": "[REDACTED]",
                    "custom_login_page_on": true
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/Isi93ibGHIGwmdYjsLwTOn7Gu7nwxU3V",
        "body": {
            "custom_login_page": "<html>TEST123</html>\n",
            "custom_login_page_on": true
        },
        "status": 200,
        "response": {
            "tenant": "auth0-deploy-cli-e2e",
            "global": true,
            "callbacks": [],
            "is_first_party": true,
            "name": "All A[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/tenants/settings",
        "body": {
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            }
        },
        "status": 200,
        "response": {
            "allowed_logout_urls": [
                "https://mycompany.org/logoutCallback"
            ],
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "cannot_change_enforce_client_authentication_on_passwordless_start": true,
                "change_pwd_flow_v1": false,
                "disable_impersonation": true,
                "enable_apis_section": false,
                "enable_client_connections": false,
                "enable_custom_domain_in_emails": false,
                "enable_dynamic_client_registration": false,
                "enable_legacy_logs_search_v2": false,
                "enable_public_signup_user_exists_error": true,
                "enable_sso": true,
                "enforce_client_authentication_on_passwordless_start": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "use_scope_descriptions_for_consent": false,
                "revoke_refresh_token_grant": false,
                "disable_clickjack_protection_headers": false,
                "enable_pipeline2": false
            },
            "friendly_name": "My Test Tenant",
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "idle_session_lifetime": 1,
            "picture_url": "https://upload.wikimedia.org/wikipedia/commons/0/0d/Grandmas_marathon_finishers.png",
            "sandbox_version": "12",
            "session_lifetime": 3.0166666666666666,
            "support_email": "support@mycompany.org",
            "support_url": "https://mycompany.org/support",
            "universal_login": {
                "colors": {
                    "primary": "#F8F8F2",
                    "page_background": "#222221"
                },
                "identifier_first": true
            },
            "session_cookie": {
                "mode": "non-persistent"
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/resource-servers?page=0&per_page=100&include_totals=true",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "resource_servers": [
                {
                    "id": "62debacc54b4171c0378ea1f",
                    "name": "Auth0 Management API",
                    "identifier": "https://auth0-deploy-cli-e2e.us.auth0.com/api/v2/",
                    "allow_offline_access": false,
                    "skip_consent_for_verifiable_first_party_clients": false,
                    "token_lifetime": 86400,
                    "token_lifetime_for_web": 7200,
                    "signing_alg": "RS256",
                    "scopes": [
                        {
                            "description": "Read Client Grants",
                            "value": "read:client_grants"
                        },
                        {
                            "description": "Create Client Grants",
                            "value": "create:client_grants"
                        },
                        {
                            "description": "Delete Client Grants",
                            "value": "delete:client_grants"
                        },
                        {
                            "description": "Update Client Grants"[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?page=0&per_page=100&include_totals=true&is_global=false",
        "body": "",
        "status": 200,
        "response": {
            "total": 8,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Deploy CLI",
                    "is_first_party": true,
                    "oidc_conformant": true,
                    "sso_disabled": false,
                    "cross_origin_auth": false,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 31557600,
                        "idle_token_lifetime": 2592000,
                        "rotation_type": "non-rotating"
                    },
                    "cross_origin_authentication": true,
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "Vp0gMRF8PtMzekil38qWoj4Fjw2VjRZE",
                    "callback_url_template": false,
                    "client_secret": "[REDACTED]",
                    "jwt_configuration": {
                        "alg": "RS256",
                        "lifetime_in_seconds": 36000,
                        "secret_encoded": false
                    },
                    "token_endpoint_auth_method": "client_secret_post",
                    "app_type": "non_interactive",
                    "grant_types": [
                        "client_credentials"
                    ],
                    "custom_login_page_on": true
                },
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "API Explorer Application",
                    "allowed_clients": [],
                    "callbacks": [],
                    "client_metadata": {},
                    "cross_origin_auth": false,
                    "is_first_party": true,
                    "native_social_login": {
                        "apple": {
                            "enabled": false
                        },
                        "facebook": {
                            "enabled": false
                        }
                    },
                    "oidc_conformant": true,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 31557600,
                        "idle_token_lifetime": 2592000,
                        "rotation_type": "non-rotating"
                    },
                    "sso_disabled": false,
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "0jbVZAwpYBEtBUgdSgfGvTxOA0wQegJt",
                    "callback_url_template": false,
                    "client_secret": "[REDACTED]",
                    "jwt_configuration": {
                        "alg": "RS256",
                        "lifetime_in_seconds": 36000,
                        "secret_encoded": false
                    },
                    "client_aliases": [],
                    "token_endpoint_auth_method": "client_secret_post",
                    "app_type": "non_interactive",
                    "grant_types": [
                        "client_credentials"
                    ],
                    "custom_login_page_on": true
                },
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "nam[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/0jbVZAwpYBEtBUgdSgfGvTxOA0wQegJt",
        "body": {
            "name": "API Explorer Application",
            "allowed_clients": [],
            "app_type": "non_interactive",
            "callbacks": [],
            "client_aliases": [],
            "client_metadata": {},
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "gr[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/SePydBQieHw6AE8DmAjuzhPWJHAL2Ykd",
        "body": {
            "name": "Node App",
            "allowed_clients": [],
            "allowed_logout_urls": [],
            "allowed_origins": [],
            "app_type": "regular_web",
            "callbacks": [],
            "client_aliases": [],
            "client_metadata": {},
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "grant_types": [
                "authorization_code",
                "implicit",
                "refresh_token",
                "client_credentials"
            ],
            "is_first_party": true,
            "is_token_endpoint_ip_header_trusted": false,
            "jwt_configuration": {
                "alg": "RS256",
                "lifetime_in_seconds": 36000
            },
            "native_social_login": {
                "apple": {
                    "enabled": false
                },
                "facebook": {
                    "enabled": false
                }
            },
            "oidc_conformant": true,
            "refresh_token": {
                "expiration_type": "non-expiring",
                "leeway": 0,
                "infinite_token_lifetime": true,
                "infinite_idle_token_lifetime": true,
                "token_lifetime": 31557600,
                "idle_token_lifetime": 2592000,
                "rotation_type": "non-rotating"
            },
            "sso_disabled": false,
            "token_endpoint_auth_method": "client_secret_post",
            "web_origins": []
        },
        "status": 200,
        "response": {
            "tenant": "auth0-deploy-cli-e2e",
            "global": false,
            "is_token_endpoint_ip_header_trusted": false,
            "name": "Node App",
            "allowed_clients": [],
            "allowed_logout_urls": [],
            "callbacks": [],
            "client_metadata": {},
            "cross_origin_auth": false,
            "is_first_party": true,
            "native_social_login": {
                "apple":[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/pWpELWnfujCygNSQtvTUVnnEPt8FtnFZ",
        "body": {
            "name": "Quickstarts API (Test Application)",
            "app_type": "non_interactive",
            "client_metadata": {
                "foo": "bar"
            },
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "grant_types": [
                "client_credentials"
            ],
            "is_first_party": true,
            "is_token_endpoint_ip_header_trusted": false,
            "jwt_configuration": {
                "alg": "RS256",
                "lifetime_in_seconds": 36000
            },
            "oidc_conformant": true,
            "refresh_token": {
                "expiratio[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/dBi40tOVEa3F0UlQPfZUXmEuXx5NKFdA",
        "body": {
            "name": "Terraform Provider",
            "app_type": "non_interactive",
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "grant_types": [
                "client_credentials"
            ],
            "is_first_party": true,
            "is_token_endpoint_ip_hea[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/7VyUJhtickbcDyCCA0P7cQWo2BO8nMSm",
        "body": {
            "name": "Test SPA",
            "allowed_clients": [],
            "allowed_logout_urls": [
                "http://localhost:3000"
            ],
            "app_type": "spa",
            "callbacks": [
                "http://localhost:3000"
            ],
            "client_aliases": [],
            "cl[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/bta2PkgCowCR49iEpMocGcA45GVXGbyC",
        "body": {
            "name": "The Default App",
            "allowed_clients": [],
            "callbacks": [],
            "client_aliases": [],
            "client_metadata": {},
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "grant_types": [
                "authorization_code",
                "implicit",
                "refresh_token",
                "client_credentials"
            ],
            "is_first_party": true,
            "is_token_endpoint_ip_header_trusted": false,
            "jwt_configuration": {
                "alg": "RS256",
                "lifetime_in_seconds": 36000
            },
            "native_social_login": {
                "apple": {
                    "enabled": false
                },
                "facebook": {
                    "enabled": false
                }
            },
            "oidc_conformant": false,
            "refresh_token": {
                "expiration_type": "non-expiring",
                "leeway": 0,
                "infinite_token_lifetime": true,
                "infinite_idle_token_lifetime": true,
                "token_lifetime": 2592000,
                "idle_token_lifetime": 1296000,
                "rotation_type": "non-rotating"
            },
            "sso": false,
            "sso_disabled": false,
            "token_endpoint_auth_method": "client_secret_post"
        },
        "status": 200,
        "response": {
            "tenant": "auth0-deploy-cli-e2e",
            "global": false,
            "is_token_endpoint_ip_header_trusted": false,
            "name": "The Default App",
            "allowed_clients": [],
            "callbacks": [],
            "client_metadata": {},
            "cross_origin_auth": false,
            "is_first_party[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/clients/o0JSV2rmlJMojoacJTXlDWduAMni9fIp",
        "body": {
            "name": "auth0-deploy-cli-extension",
            "allowed_clients": [],
            "app_type": "non_interactive",
            "callbacks": [],
            "client_aliases": [],
            "client_metadata": {},
            "cross_origin_auth": false,
            "custom_login_page_on": true,
            "[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/emails/provider?fields=name%2Cenabled%2Ccredentials%2Csettings%2Cdefault_from_address&include_fields=true",
        "body": "",
        "status": 200,
        "response": {
            "name": "mandrill",
            "credentials": {},
            "default_from_address": "auth0-user@auth0.com",
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/emails/provider",
        "body": {
            "name": "mandrill",
            "credentials": {
                "api_key": "##MANDRILL_API_KEY##"
            },
            "default_from_address": "auth0-user@auth0.com",
            "enabled": false
        },
        "status": 200,
        "response": {
            "name": "mandrill",
            "credentials": {},
            "default_from_address": "auth0-user@auth0.com",
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/email",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/otp",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/duo",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/push-notification",
        "body": {
            "enabled": true
        },
        "status": 200,
        "response": {
            "enabled": true
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/recovery-code",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/webauthn-platform",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/sms",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/webauthn-roaming",
        "body": {
            "enabled": false
        },
        "status": 200,
        "response": {
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/policies",
        "body": [
            "all-applications"
        ],
        "status": 200,
        "response": [
            "all-applications"
        ],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/phone/selected-provider",
        "body": {
            "provider": "auth0"
        },
        "status": 200,
        "response": {
            "provider": "auth0"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PUT",
        "path": "/api/v2/guardian/factors/phone/message-types",
        "body": {
            "message_types": []
        },
        "status": 200,
        "response": {
            "message_types": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/prompts",
        "body": {
            "universal_login_experience": "new",
            "identifier_first": true
        },
        "status": 200,
        "response": {
            "universal_login_experience": "new",
            "identifier_first": true
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/attack-protection/brute-force-protection",
        "body": {
            "enabled": true,
            "shields": [
                "block",
                "user_notification"
            ],
            "mode": "count_per_identifier_and_ip",
            "allowlist": [],
            "max_attempts": 66
        },
        "status": 200,
        "response": {
            "enabled": true,
            "shields": [
                "block",
                "user_notification"
            ],
            "mode": "count_per_identifier_and_ip",
            "allowlist": [],
            "max_attempts": 66
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/attack-protection/suspicious-ip-throttling",
        "body": {
            "enabled": true,
            "shields": [
                "admin_notification"
            ],
            "allowlist": [
                "127.0.0.1"
            ],
            "stage": {
                "pre-login": {
                    "max_attempts": 66,
                    "rate": 864000
                },
                "pre-user-registration": {
                    "max_attempts": 66,
                    "rate": 1200
                }
            }
        },
        "status": 200,
        "response": {
            "enabled": true,
            "shields": [
                "admin_notification"
            ],
            "allowlist": [
                "127.0.0.1"
            ],
            "stage": {
                "pre-login": {
                    "max_attempts": 66,
                    "rate": 864000
                },
                "pre-user-registration": {
                    "max_attempts": 66,
                    "rate": 1200
                }
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "PATCH",
        "path": "/api/v2/attack-protection/breached-password-detection",
        "body": {
            "enabled": false,
            "shields": [],
            "admin_notification_frequency": [],
            "method": "standard"
        },
        "status": 200,
        "response": {
            "enabled": false,
            "shields": [],
            "admin_notification_frequency": [],
            "method": "standard",
            "stage": {
                "pre-user-registration": {
                    "shields": []
                }
            }
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/log-streams",
        "body": "",
        "status": 200,
        "response": [
            {
                "id": "lst_0000000000018035",
                "name": "Suspended DD Log Stream",
                "type": "datadog",
                "status": "active",
                "sink": {
                    "datadogApiKey": "some-sensitive-api-key",
                    "datadogRegion": "us"
                },
                "isPriority": false
            },
            {
                "id": "lst_0000000000018036",
                "name": "Amazon EventBridge",
[...]
