[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/rules?include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 0,
            "start": 0,
            "limit": 100,
            "rules": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/rules-configs",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/hooks?include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 0,
            "start": 0,
            "limit": 100,
            "hooks": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?is_global=true&include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": true,
                    "callbacks": [],
                    "is_first_party": true,
                    "name": "All Applications",
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 2592000,
                        "idle_token_lifetime": 1296000,
                        "rotation_type": "non-rotating"
                    },
                    "owners": [
                        "mr|samlp|okta|will.vedder@auth0.com",
                        "mr|google-oauth2|102002633619863830825"
                    ],
                    "custom_login_page": "<html>TEST123</html>\n",
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "Isi93ibGHIGwmdYjsLwTOn7Gu7nwxU3V",
                    "client_secret": "[REDACTED]",
                    "custom_login_page_on": true
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/tenants/settings",
        "body": "",
        "status": 200,
        "response": {
            "allowed_logout_urls": [
                "https://mycompany.org/logoutCallback"
            ],
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "change_pwd_flow_v1": false,
                "disable_impersonation": true,
                "enable_apis_section": false,
                "enable_client_connections": false,
                "enable_custom_domain_in_emails": false,
                "enable_dynamic_client_registration": false,
                "enable_legacy_logs_search_v2": false,
                "enable_public_signup_user_exists_error": true,
                "enable_sso": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "use_scope_descriptions_for_consent": false,
                "revoke_refresh_token_grant": false,
                "disable_clickjack_protection_headers": false,
                "enable_pipeline2": false
            },
            "friendly_name": "My Test Tenant",
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "idle_session_lifetime": 1,
            "picture_url": "https://upload.wikimedia.org/wikipedia/commons/0/0d/Grandmas_marathon_finishers.png",
            "sandbox_version": "12",
            "session_lifetime": 3.0166666666666666,
            "support_email": "support@mycompany.org",
            "support_url": "https://mycompany.org/support",
            "universal_login": {
                "colors": {
                    "primary": "#F8F8F2",
                    "page_background": "#222221"
                }
            },
            "session_cookie": {
                "mode": "non-persistent"
            },
            "sandbox_versions_available": [
                "16",
                "12"
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/resource-servers?include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "resource_servers": [
                {
                    "id": "62debacc54b4171c0378ea1f",
                    "name": "Auth0 Management API",
                    "identifier": "https://auth0-deploy-cli-e2e.us.auth0.com/api/v2/",
                    "allow_offline_access": false,
                    "skip_consent_for_verifiable_first_party_clients": false,
                    "token_lifetime": 86400,
                    "token_lifetime_for_web": 7200,
                    "signing_alg": "RS256",
                    "scopes": [
                        {
                            "description": "Read Client Grants",
                            "value": "read:client_grants"
                        },
                        {
                            "description": "Create Client Grants",
                            "value": "create:client_grants"
                        },
                        {
                            "description": "Delete Client Grants",
                            "value": "delete:client_grants"
                        },
                        {
                            "description": "Update Client Grants"[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/clients?include_totals=true&is_global=false&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 2,
            "start": 0,
            "limit": 100,
            "clients": [
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Deploy CLI",
                    "is_first_party": true,
                    "oidc_conformant": true,
                    "sso_disabled": false,
                    "cross_origin_auth": false,
                    "refresh_token": {
                        "expiration_type": "non-expiring",
                        "leeway": 0,
                        "infinite_token_lifetime": true,
                        "infinite_idle_token_lifetime": true,
                        "token_lifetime": 31557600,
                        "idle_token_lifetime": 2592000,
                        "rotation_type": "non-rotating"
                    },
                    "signing_keys": [
                        {
                            "cert": "[REDACTED]",
                            "pkcs7": "[REDACTED]",
                            "subject": "deprecated"
                        }
                    ],
                    "client_id": "GIW99EUCF9DFExh77WPMyTMzT8NN4J3A",
                    "callback_url_template": false,
                    "client_secret": "[REDACTED]",
                    "jwt_configuration": {
                        "alg": "RS256",
                        "lifetime_in_seconds": 36000,
                        "secret_encoded": false
                    },
                    "token_endpoint_auth_method": "client_secret_post",
                    "app_type": "non_interactive",
                    "grant_types": [
                        "client_credentials"
                    ],
                    "custom_login_page_on": true
                },
                {
                    "tenant": "auth0-deploy-cli-e2e",
                    "global": false,
                    "is_token_endpoint_ip_header_trusted": false,
                    "name": "Default App",
                    "callbacks": [],
                    "cross_origin_auth": false,
                    "is_first_party": true,
              [...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections?strategy=auth0&include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "connections": [
                {
                    "id": "con_FJVIi5jt9aQXvioG",
                    "options": {
                        "mfa": {
                            "active": true,
                            "return_enroll_settings": true
                        },
                        "passwordPolicy": "good",
                        "strategy_version": 2,
                        "brute_force_protection": true
                    },
                    "strategy": "auth0",
                    "name": "Username-Password-Authentication",
                    "is_domain_connection": false,
                    "realms": [
                        "Username-Password-Authentication"
                    ],
                    "enabled_clients": [
                        "GIW99EUCF9DFExh77WPMyTMzT8NN4J3A",
                        "xLgpNb56pwyBvNmyd67xtoMb4G2xxy9W"
                    ]
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/connections?include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "connections": [
                {
                    "id": "con_FJVIi5jt9aQXvioG",
                    "options": {
                        "mfa": {
                            "active": true,
                            "return_enroll_settings": true
                        },
                        "passwordPolicy": "good",
                        "strategy_version": 2,
                        "brute_force_protection": true
                    },
                    "strategy": "auth0",
                    "name": "Username-Password-Authentication",
                    "is_domain_connection": false,
                    "realms": [
                        "Username-Password-Authentication"
                    ],
                    "enabled_clients": [
                        "GIW99EUCF9DFExh77WPMyTMzT8NN4J3A",
                        "xLgpNb56pwyBvNmyd67xtoMb4G2xxy9W"
                    ]
                }
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/emails/provider?include_fields=true&fields=name%2Cenabled%2Ccredentials%2Csettings%2Cdefault_from_address",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "There is not a configured email provider",
            "errorCode": "inexistent_email_provider"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "verify_email",
            "body": "<html>\n  <head>\n    <style type=\"text/css\">\n      .ExternalClass,\n      .ExternalClass div,\n      .ExternalClass font,\n      .ExternalClass p,\n      .ExternalClass span,\n      .ExternalClass td,\n      img {\n        line-height: 100%;\n      }\n      #outlook a {\n        padding: 0;\n      }\n      .ExternalClass,\n      .ReadMsgBody {\n        width: 100%;\n      }\n      a,\n      blockquote,\n      body,\n      li,\n      p,\n      table,\n      td {\n        -webkit-text-size-adjust: 100%;\n        -ms-text-[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/verify_email_by_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/stolen_credentials",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/user_invitation",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/enrollment_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/reset_email",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/password_reset",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/blocked_account",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/mfa_oob_code",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/welcome_email",
        "body": "",
        "status": 200,
        "response": {
            "template": "welcome_email",
            "body": "<html>\n  <body>\n    <h1>Welcome!</h1>\n  </body>\n</html>\n",
            "from": "",
            "resultUrl": "https://example.com/welcome",
            "subject": "Welcome",
            "syntax": "liquid",
            "urlLifetimeInSeconds": 3600,
            "enabled": false
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/email-templates/change_password",
        "body": "",
        "status": 404,
        "response": {
            "statusCode": 404,
            "error": "Not Found",
            "message": "The template does not exist.",
            "errorCode": "inexistent_email_template"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/client-grants?include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "total": 1,
            "start": 0,
            "limit": 100,
            "client_grants": [
                {
                    "id": "cgr_iodSzvwxqm51tLZF",
                    "client_id": "GIW99EUCF9DFExh77WPMyTMzT8NN4J3A",
                    "audience": "https://auth0-deploy-cli-e2e.us.auth0.com/api/v2/",
                    "scope": [
                        "read:client_grants",
                        "create:client_grants",
                        "delete:client_grants",
                        "update:client_grants",
                        "read:users",
                        "update:users",
                        "delete:users",
                        "create:users",
                        "read:users_app_metadata",
                [...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "sms",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "push-notification",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "otp",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "email",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "duo",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "webauthn-roaming",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "webauthn-platform",
                "enabled": false,
                "trial_expired": false
            },
            {
                "name": "recovery-code",
                "enabled": false,
                "trial_expired": false
            }
        ],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/push-notification/providers/sns",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/sms/providers/twilio",
        "body": "",
        "status": 200,
        "response": {
            "auth_token": "bar",
            "sid": "foo",
            "from": "from bar",
            "messaging_service_sid": "foo"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/sms/templates",
        "body": "",
        "status": 200,
        "response": {
            "enrollment_message": "enroll foo",
            "verification_message": "verify foo"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/policies",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/sms/selected-provider",
        "body": "",
        "status": 200,
        "response": {
            "provider": "auth0"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/guardian/factors/phone/message-types",
        "body": "",
        "status": 200,
        "response": {
            "message_types": []
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/roles?include_totals=true&page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "roles": [],
            "start": 0,
            "limit": 100,
            "total": 0
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/branding",
        "body": "",
        "status": 200,
        "response": {
            "colors": {
                "primary": "#F8F8F2",
                "page_background": "#222221"
            },
            "logo_url": "https://upload.wikimedia.org/wikipedia/commons/0/0d/Grandmas_marathon_finishers.png"
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/custom-domains",
        "body": "",
        "status": 200,
        "response": [],
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts",
        "body": "",
        "status": 200,
        "response": {
            "universal_login_experience": "new",
            "identifier_first": true
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login-id/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login-password/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/login-email-verification/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/signup/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/signup-id/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/signup-password/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/reset-password/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-otp/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-push/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/consent/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-phone/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-voice/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-webauthn/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-sms/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-email/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa-recovery-code/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/status/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/prompts/mfa/custom-text/en",
        "body": "",
        "status": 200,
        "response": {},
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
[...]
