[
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/tenants/settings",
        "body": "",
        "status": 200,
        "response": {
            "change_password": {
                "enabled": true,
                "html": "<html>Change Password</html>\n"
            },
            "enabled_locales": [
                "en"
            ],
            "error_page": {
                "html": "<html>Error Page</html>\n",
                "show_log_link": false,
                "url": "https://mycompany.org/error"
            },
            "flags": {
                "allow_changing_enable_sso": false,
                "allow_legacy_delegation_grant_types": true,
                "allow_legacy_ro_grant_types": true,
                "disable_impersonation": true,
                "enable_dynamic_client_registration": true,
                "enable_sso": true,
                "new_universal_login_experience_enabled": true,
                "universal_login": true,
                "revoke_refresh_token_grant": false,
                "dashboard_new_onboarding": false,
                "mfa_show_factor_list_on_enrollment": false,
                "disable_clickjack_protection_headers": false
            },
            "guardian_mfa_page": {
                "enabled": true,
                "html": "<html>MFA</html>\n"
            },
            "picture_url": "https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png",
            "sandbox_version": "18",
            "oidc_logout": {
                "rp_logout_end_session_endpoint_discovery": true
            },
            "universal_login": {
                "colors": {
                    "page_background": "#000000",
                    "primary": "#5ce4ff"
                }
            },
            "sandbox_versions_available": [
                "18",
                "16"
            ]
        },
        "rawHeaders": [],
        "responseIsBinary": false
    },
    {
        "scope": "https://deploy-cli-dev.eu.auth0.com:443",
        "method": "GET",
        "path": "/api/v2/actions/actions?page=0&per_page=100",
        "body": "",
        "status": 200,
        "response": {
            "actions": [
                {
                    "id": "e105b5a8-cdea-4292-b588-383cb12bdbcc",
                    "name": "k-flow",
                    "supported_triggers": [
                        {
                            "id": "post-login",
                            "version": "v3"
                        }
                    ],
                    "created_at": "2024-08-11T18:43:54.559933482Z",
                    "updated_at": "2024-09-26T07:32:36.751347258Z",
                    "code": "/**\n* Handler that will be called during the execution of a PostLogin flow.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interface whose methods can be used to change the behavior of the login.\n*/\nexports.onExecutePostLogin = async (event, api) => {\n  console.log(event.secrets)\n  // if (event.user.nickname != \"kushal.shit\"){\n  //    api.access.deny(\"Unknown user!!\")\n  // }\n};\n\n\n/**\n* Handler that will be invoked when this action is resuming after an external redirect. If your\n* onExecutePostLogin function does not perform a redirect, this function can be safely ignored.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interface whose methods can be used to change the behavior of the login.\n*/\n// exports.onContinuePostLogin = async (event, api) => {\n// };\n",
                    "dependencies": [],
                    "runtime": "node18-actions",
                    "status": "built",
                    "secrets": [
                        {
                            "name": "my_secret_url",
                            "updated_at": "2024-09-18T09:55:00.423293831Z"
                        },
                        {
                            "name": "sec_1",
                            "updated_at": "2024-09-18T09:55:00.423293831Z"
                        }
                    ],
                    "current_version": {
                        "id": "44dd594d-c57d-490f-b22b-5fb499b81afd",
                        "code": "/**\n* Handler that will be called during the execution of a PostLogin flow.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interface whose methods can be used to change the behavior of the login.\n*/\nexports.onExecutePostLogin = async (event, api) => {\n  console.log(event.secrets)\n  // if (event.user.nickname != \"kushal.shit\"){\n  //    api.access.deny(\"Unknown user!!\")\n  // }\n};\n\n\n/**\n* Handler that will be invoked when this action is resuming after an external redirect. If your\n* onExecutePostLogin function does not perform a redirect, this function can be safely ignored.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interface whose methods can be used to change the behavior of the login.\n*/\n// exports.onContinuePostLogin = async (event, api) => {\n// };\n",
                        "runtime": "node18-actions",
                        "status": "BUILT",
                        "number": 51,
                        "build_time": "2024-09-26T07:32:46.544296361Z",
                        "created_at": "2024-09-26T07:32:46.472453906Z",
                        "updated_at": "2024-09-26T07:32:46.544910189Z"
                    },
                    "deployed_version": {
                        "code": "/**\n* Handler that will be called during the execution of a PostLogin flow.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interface whose methods can be used to change the behavior of the login.\n*/\nexports.onExecutePostLogin = async (event, api) => {\n  console.log(event.secrets)\n  // if (event.user.nickname != \"kushal.shit\"){\n  //    api.access.deny(\"Unknown user!!\")\n  // }\n};\n\n\n/**\n* Handler that will be invoked when this action is resuming after an external redirect. If your\n* onExecutePostLogin function does not perform a redirect, this function can be safely ignored.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interface whose methods can be used to change the behavior of the login.\n*/\n// exports.onContinuePostLogin = async (event, api) => {\n// };\n",
                        "dependencies": [],
                        "id": "44dd594d-c57d-490f-b22b-5fb499b81afd",
                        "deployed": true,
                        "number": 51,
                        "built_at": "2024-09-26T07:32:46.544296361Z",
                        "secrets": [
                            {
                                "name": "my_secret_url",
                                "updated_at": "2024-09-18T09:55:00.423293831Z"
                            },
                            {
                                "name": "sec_1",
                                "updated_at": "2024-09-18T09:55:00.423293831Z"
                            }
                        ],
                        "status": "built",
                        "created_at": "2024-09-26T07:32:46.472453906Z",
                        "updated_at": "2024-09-26T07:32:46.544910189Z",
                        "runtime": "node18-actions",
                        "supported_triggers": [
                            {
                                "id": "post-login",
                                "version": "v3"
                            }
                        ]
                    },
                    "all_changes_deployed": true
                },
                {
                    "id": "4301ffb3-fc3f-40cb-9b0b-2bb23f090327",
                    "name": "post-login-onbording",
                    "supported_triggers": [
                        {
                            "id": "post-login",
                            "version": "v3"
                        }
                    ],
                    "created_at": "2024-08-12T11:09:42.970451051Z",
                    "updated_at": "2024-09-26T07:32:37.76227[...]
